RPC_URL=https://api.mainnet-beta.solana.com
RECIPIENT_WALLET=8mLuYNT2FFx1cBhGPhDL6ddhg7C93r4VrJziBm6aEdmJ
TOKEN_MINT=7dMm1kkytxMqZZHMk4pzUT3GqsrkFJEoz2w9uYH4pump
PAYOUT_PRIVATE_KEY_B58=REPLACE_WITH_BASE58_PRIVATE_KEY
ROUND_STEP_MINUTES=5
PAYOUT_PERCENT=95
POLL_SECONDS=20
